---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<table class="table striped">
  <thead>
    <tr>
      <th class="sixty">
        P<span>roject <small>(Each 100 points)</small></span>
      </th>
      <th class="fifteen">
        W<span>eight</span>
      </th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td class="sixty">
        Data Collection
      </td>
      <td class="fifteen">
        15%
      </td>
    </tr>

    <tr>
      <td class="sixty">
        Images for the Web
      </td>
      <td class="fifteen">
        20%
      </td>
    </tr>

    <tr>
      <td class="sixty">
        Videos for the Web
      </td>
      <td class="fifteen">
        20%
      </td>
    </tr>

    <tr>
      <td class="sixty">
        HTML / CSS
      </td>
      <td class="fifteen">
        35%
      </td>
    </tr>

    <tr>
      <td class="sixty">
        Class Participation
      </td>
      <td class="fifteen">
        10%
      </td>
    </tr>

  </tbody>
</table>

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
